@charset "UTF-8";

h1#base{
    text-align: center;
    text-decoration: underline;
    
}
h1{
    text-align: center;
    background-color: rgba(61, 59, 59, 0.103);
    
}
body {
    background-image: linear-gradient(to right, darkgray, rgb(70, 69, 69));
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    
}
h2 {
    background-color: cornsilk;
}
p {
    text-indent: 20px;
}
div > p {
    display: none;
}
div:hover > p {
    display:block;
    color: red;
}
li {
    margin: 10px;
}